/*GALLARY*/

h1 {
    text-align: center;
  }
  #backtomain {
    font-style: italic;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  #smaller {
    font-size: 70%;
  }
  #bigger {
    font-size: 130%;
  }
  #online {
    font-size: 169%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30em;
    width: 42.5em;
  }
  #online {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
  }
  